{
    "env": {
        "default": {
            "presets": [
                [
                    "next/babel",
                    {
                        "preset-env": {
                            "targets": {
                                "chrome": "73",
                                "node": "11"
                            }
                        }
                    }
                ],
                "@zeit/next-typescript/babel",
                "linaria/babel"
            ],
            "plugins": [
                "@babel/plugin-proposal-optional-chaining",
                "graphql-tag",
                [
                    "module-resolver",
                    {
                        "root": [
                            "./packages/"
                        ]
                        // "alias": {
                        //     "openland-icons": "openland-icons"
                        // }
                    }
                ],
                [
                    "inline-react-svg",
                    {
                        "svgo": {
                            "plugins": [
                                {
                                    "cleanupIDs": {
                                        "minify": false
                                    }
                                }
                            ]
                        }
                    }
                ],
                "transform-react-constant-elements",
                "transform-react-remove-prop-types",
                [
                    "react-native-web",
                    {
                        "commonjs": true
                    }
                ]
            ]
        },
        "webproduction": {
            "presets": [
                [
                    "next/babel",
                    {
                        "preset-env": {
                            "targets": {
                                "chrome": "73",
                                "node": "11"
                            }
                        }
                    }
                ],
                "@zeit/next-typescript/babel",
                "linaria/babel"
            ],
            "plugins": [
                "@babel/plugin-proposal-optional-chaining",
                "graphql-tag",
                [
                    "module-resolver",
                    {
                        "root": [
                            "./packages/"
                        ]
                        // "alias": {
                        //     "openland-icons": "openland-icons"
                        // }
                    }
                ],
                "transform-mental",
                [
                    "inline-react-svg",
                    {
                        "svgo": {
                            "plugins": [
                                {
                                    "cleanupIDs": {
                                        "minify": false
                                    }
                                }
                            ]
                        }
                    }
                ],
                "transform-react-constant-elements",
                "transform-react-remove-prop-types",
                [
                    "react-native-web",
                    {
                        "commonjs": true
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                "module:metro-react-native-babel-preset"
            ],
            "plugins": [
                "graphql-tag",
                [
                    "module-resolver",
                    {
                        "root": [
                            "./packages"
                        ],
                        "alias": {
                            "openland-mobile": "./packages/openland-mobile",
                            "react-native-s": "./packages/react-native-s",
                            "react-native-async-view": "./packages/react-native-async-view",
                            "react-native-notification-handler": "./packages/react-native-notification-handler",
                            "openland-video": "./packages/openland-video",
                            "openland-api": "./packages/openland-api",
                            "openland-graphql": "./packages/openland-graphql",
                            "openland-y-graphql": "./packages/openland-y-graphql",
                            "openland-engines": "./packages/openland-engines",
                            "openland-y-utils": "./packages/openland-y-utils",
                            "openland-y-runtime": "./packages/openland-y-runtime-native",
                            "openland-y-runtime-native": "./packages/openland-y-runtime-native",
                            "openland-y-runtime-api": "./packages/openland-y-runtime-api",
                            "openland-y-forms": "./packages/openland-y-forms",
                            "openland-xp": "./packages/openland-xp",
                            "openland-shared": "./packages/openland-shared",
                            "openland-form": "./packages/openland-form",
                            "assets": "./packages/openland-mobile/assets",
                            "assets-s": "./packages/react-native-s/assets",
                            "openland-pegasus": "./packages/openland-pegasus",
                            "openland-powerups": "./packages/openland-powerups",
                            "openland-y-store": "./packages/openland-y-store"
                        }
                    }
                ],
                "transform-remove-console",
                // "@babel/plugin-transform-react-inline-elements",
                // "@babel/plugin-transform-react-constant-elements",
                "./packages/react-native-async-view-babel/lib"
            ]
        },
        "development": {
            "presets": [
                "module:metro-react-native-babel-preset"
            ],
            "plugins": [
                [
                    "module-resolver",
                    {
                        "root": [
                            "."
                        ],
                        "alias": {
                            "openland-mobile": "./packages/openland-mobile",
                            "react-native-s": "./packages/react-native-s",
                            "react-native-async-view": "./packages/react-native-async-view",
                            "react-native-notification-handler": "./packages/react-native-notification-handler",
                            "openland-api": "./packages/openland-api",
                            "openland-video": "./packages/openland-video",
                            "openland-graphql": "./packages/openland-graphql",
                            "openland-y-graphql": "./packages/openland-y-graphql",
                            "openland-engines": "./packages/openland-engines",
                            "openland-y-utils": "./packages/openland-y-utils",
                            "openland-y-runtime": "./packages/openland-y-runtime-native",
                            "openland-y-runtime-native": "./packages/openland-y-runtime-native",
                            "openland-y-runtime-api": "./packages/openland-y-runtime-api",
                            "openland-y-forms": "./packages/openland-y-forms",
                            "openland-y-store": "./packages/openland-y-store",
                            "openland-xp": "./packages/openland-xp",
                            "openland-shared": "./packages/openland-shared",
                            "openland-form": "./packages/openland-form",
                            "assets": "./packages/openland-mobile/assets",
                            "assets-s": "./packages/react-native-s/assets",
                            "openland-pegasus": "./packages/openland-pegasus",
                            "openland-powerups": "./packages/openland-powerups"
                        }
                    }
                ],
                // ["i18next-extract", {
                //     "customUseTranslationHooks": [
                //         ["./packages/openland-mobile/text/useText", "useText"]
                //     ],
                //     "outputPath": "./packages/openland-mobile/text/extractedLangs/{{locale}}.json"
                //   }],
                // "@babel/plugin-transform-react-constant-elements",
                "./packages/react-native-async-view-babel/lib"
                // "@babel/plugin-transform-react-inline-elements"
            ]
        }
    }
}