{
    "presets": ["next/babel", "@zeit/next-typescript/babel"],
    "plugins": ["graphql-tag", "transform-react-stateless-component-name"],
    "env": {
        "production": {
            "plugins": [
                ["emotion", {
                    "sourceMap": false,
                    "hoist": true
                }]
            ]
        },
        "development": {
            "plugins": [
                ["emotion", {
                    "sourceMap": true,
                    "autoLabel": true
                }]
            ]
        }
    }
}