.x {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
}

* {
    text-rendering: auto;
}

body {
    --transparent: rgba(255, 255, 255, 0);

    --foregroundPrimary: #171A1F;
    --foregroundSecondary: #71747A;
    --foregroundTertiary: #9D9FA3;
    --foregroundQuaternary: #C8C9CC;
    --foregroundContrast: #FFFFFF;
    --foregroundInverted: #FFFFFF;

    --backgroundPrimary: #FFFFFF;
    --backgroundPrimaryHover: #F2F3F5;
    --backgroundPrimaryActive: #F2F3F5;

    --backgroundSecondary: #FFFFFF;
    --backgroundSecondaryHover: #F2F3F5;
    --backgroundSecondaryActive: #F2F3F5;

    --backgroundTertiary: #F2F3F5;
    --backgroundTertiaryHover: #EDEEF0;
    --backgroundTertiaryActive: #E6E7EB;

    --backgroundTertiaryTrans: rgba(201, 204, 209, 0.24);
    --backgroundTertiaryHoverTrans: rgba(169, 174, 184, 0.24);

    --accentPrimary: #248BF2;
    --accentPrimaryHover: #3399FF;
    --accentPrimaryActive: #1677D9;

    --accentMuted: #4595E5;
    --accentMutedHover: #4595E5;
    --accentMutedActive: #4595E5;

    --accentPositive: #40B855;
    --accentPositiveHover: #52CC66;
    --accentPositiveActive: #32A645;

    --accentNegative: #F23051;
    --accentNegativeHover: #FF4060;
    --accentNegativeActive: #D92140;

    --accentPay: #171A1F;
    --accentPayHover: #212329;
    --accentPayActive: #33373D;

    --border: rgba(0, 0, 0, 0.08);
    --borderLight: rgba(0, 0, 0, 0.04);

    --overlayTotal: #000000;
    --overlayHeavy: rgba(0, 0, 0, 0.84);
    --overlayMedium: rgba(0, 0, 0, 0.48);
    --overlayLight: rgba(0, 0, 0, 0.24);

    --tintRed: #F23051;
    --tintRedHover: #FF4060;
    --tintRedActive: #D92140;
    --tintOrange: #FF9F1A;
    --tintOrangeHover: #FFBB33;
    --tintOrangeActive: #F27F0C;
    --tintGreen: #40B855;
    --tintGreenHover: #52CC66;
    --tintGreenActive: #32A645;
    --tintCyan: #36BED9;
    --tintCyanHover: #45CBE5;
    --tintCyanActive: #26A1BF;
    --tintBlue: #248BF2;
    --tintBlueHover: #3399FF;
    --tintBlueActive: #1677D9;
    --tintPurple: #7A24F2;
    --tintPurpleHover: #8833FF;
    --tintPurpleActive: #6114CC;
    --tintPink: #E539AC;
    --tintPinkHover: #F249BA;
    --tintPinkActive: #CC1F93;
    --tintGrey: #71747A;
    --tintGreyHover: #81848A;
    --tintGreyActive: #5C5F66;
    --tintInverted: rgba(255, 255, 255, 0.32);
}
