.x {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
}

body {
    --transparent: rgba(255, 255, 255, 0);

    --foregroundPrimary: #171A1F;
    --foregroundSecondary: #71747A;
    --foregroundTertiary: #9D9FA3;
    --foregroundQuaternary: #C8C9CC;
    --foregroundContrast: #FFFFFF;
    --foregroundInverted: #FFFFFF;

    --backgroundPrimary: #FFFFFF;
    --backgroundPrimaryHover: #F2F3F5;
    --backgroundPrimaryActive: #F2F3F5;

    --backgroundSecondary: #FFFFFF;
    --backgroundSecondaryHover: #F2F3F5;
    --backgroundSecondaryActive: #F2F3F5;

    --backgroundTertiary: #F2F3F5;
    --backgroundTertiaryHover: #EDEEF0;
    --backgroundTertiaryActive: #E6E7EB;

    --accentPrimary: #248BF2;
    --accentPrimaryHover: #3399FF;
    --accentPrimaryActive: #1677D9;

    --accentMuted: #4595E5;
    --accentMutedHover: #4595E5;
    --accentMutedActive: #4595E5;

    --accentPositive: #43BF58;
    --accentPositiveHover: #52CC66;
    --accentPositiveActive: #32A645;

    --accentNegative: #F23051;
    --accentNegativeHover: #FF4060;
    --accentNegativeActive: #D92140;

    --border: rgba(0, 0, 0, 0.08);
    --borderLight: rgba(0, 0, 0, 0.04);

    --overlayTotal: #000000;
    --overlayHeavy: rgba(0, 0, 0, 0.84);
    --overlayMedium: rgba(0, 0, 0, 0.48);
    --overlayLight: rgba(0, 0, 0, 0.24);

    --tintRed: #F23051;
    --tintOrange: #FF9F1A;
    --tintGreen: #43BF58;
    --tintCyan: #36BED9;
    --tintBlue: #248BF2;
    --tintPurple: #7A24F2;
    --tintPink: #E539AC;
    --tintGrey: #71747A;
    --tintInverted: rgba(255, 255, 255, 0.32);

    /* legacy */
    --backgroundInverted: #F2F3F5;
    --backgroundInvertedHover: #EBEDF0;
    --backgroundInvertedActive: #F2F3F5;
}
