.x {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
}

* {
    text-rendering: auto;
}

body {
    --transparent: rgba(255, 255, 255, 0);

    --foregroundPrimary: #171a1f;
    --foregroundSecondary: #71747a;
    --foregroundTertiary: #9d9fa3;
    --foregroundQuaternary: #c8c9cc;
    --foregroundContrast: #ffffff;
    --foregroundInverted: #ffffff;

    --backgroundPrimary: #ffffff;
    --backgroundPrimaryHover: #f2f3f5;
    --backgroundPrimaryActive: #f2f3f5;

    --backgroundSecondary: #ffffff;
    --backgroundSecondaryHover: #f2f3f5;
    --backgroundSecondaryActive: #f2f3f5;

    --backgroundTertiary: #f2f3f5;
    --backgroundTertiaryHover: #edeef0;
    --backgroundTertiaryActive: #e6e7eb;

    --accentPrimary: #248bf2;
    --accentPrimaryHover: #3399ff;
    --accentPrimaryActive: #1677d9;

    --accentMuted: #4595e5;
    --accentMutedHover: #4595e5;
    --accentMutedActive: #4595e5;

    --accentPositive: #43bf58;
    --accentPositiveHover: #52cc66;
    --accentPositiveActive: #32a645;

    --accentNegative: #f23051;
    --accentNegativeHover: #ff4060;
    --accentNegativeActive: #d92140;

    --border: rgba(0, 0, 0, 0.08);
    --borderLight: rgba(0, 0, 0, 0.04);

    --overlayTotal: #000000;
    --overlayHeavy: rgba(0, 0, 0, 0.84);
    --overlayMedium: rgba(0, 0, 0, 0.48);
    --overlayLight: rgba(0, 0, 0, 0.24);

    --tintRed: #f23051;
    --tintOrange: #ff9f1a;
    --tintGreen: #43bf58;
    --tintCyan: #36bed9;
    --tintBlue: #248bf2;
    --tintPurple: #7a24f2;
    --tintPink: #e539ac;
    --tintGrey: #71747a;
    --tintInverted: rgba(255, 255, 255, 0.32);

    /* legacy */
    --backgroundInverted: #f2f3f5;
    --backgroundInvertedHover: #ebedf0;
    --backgroundInvertedActive: #f2f3f5;
}
