.x {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
}

* {
    text-rendering: auto;
}

html, body {
    background-color: var(--backgroundPrimary) !important;
}

html {
    /* start interactive colors */

    --transparent: rgba(255, 255, 255, 0);

    --foregroundPrimary: #171A1F;
    --foregroundSecondary: #71747A;
    --foregroundTertiary: #9D9FA3;
    --foregroundQuaternary: #C8C9CC;
    --foregroundContrast: #FFFFFF;
    --foregroundInverted: #FFFFFF;

    --backgroundPrimary: #FFFFFF;
    --backgroundPrimaryHover: #F2F3F5;
    --backgroundPrimaryActive: #F2F3F5;

    --backgroundSecondary: #FFFFFF;
    --backgroundSecondaryHover: #F2F3F5;
    --backgroundSecondaryActive: #F2F3F5;

    --backgroundTertiary: #F2F3F5;
    --backgroundTertiaryHover: #EDEEF0;
    --backgroundTertiaryActive: #E6E7EB;

    --backgroundTertiaryTrans: rgba(201, 204, 209, 0.24);
    --backgroundTertiaryHoverTrans: rgba(169, 174, 184, 0.24);
    --backgroundTertiaryActiveTrans: rgba(148, 155, 168, 0.24);

    --accentPay: #171A1F;
    --accentPayHover: #212329;
    --accentPayActive: #33373D;

    --border: rgba(0, 0, 0, 0.08);
    --borderLight: rgba(0, 0, 0, 0.04);

    --backgroundBlurPrimary: rgba(255, 255, 255, 0.72);
    --backgroundBlurSecondary: rgba(255, 255, 255, 0.92);

    --boxShadowPopper: 0px 8px 24px rgba(0, 0, 0, 0.08), 0px 0px 48px rgba(0, 0, 0, 0.04);

    /* end interactive colors */
    --boxShadowModal: 0px 8px 48px rgba(0, 0, 0, 0.16), 0px 0px 96px rgba(0, 0, 0, 0.08);

    --accentPrimaryTrans: rgba(24, 133, 242, 0.24);

    --accentPrimary: #248BF2;
    --accentPrimaryHover: #3399FF;
    --accentPrimaryActive: #1677D9;

    --accentMuted: #4595E5;
    --accentMutedHover: #4595E5;
    --accentMutedActive: #4595E5;

    --accentPositive: #40B855;
    --accentPositiveHover: #52CC66;
    --accentPositiveActive: #32A645;

    --accentNegative: #F23051;
    --accentNegativeHover: #FF4060;
    --accentNegativeActive: #D92140;

    --overlayTotal: #000000;
    --overlayHeavy: rgba(0, 0, 0, 0.84);
    --overlayMedium: rgba(0, 0, 0, 0.48);
    --overlayLight: rgba(0, 0, 0, 0.24);

    --spaceBackgroundPrimary: linear-gradient(180deg, #0F0F29 0%, #261B3D 100%);
    --spaceBackgroundSecondary: #363152;
    --spaceBackgroundTertiary: #5A537A;

    --tintRed: #F23051;
    --tintRedHover: #FF4060;
    --tintRedActive: #D92140;
    --tintOrange: #FF9F1A;
    --tintOrangeHover: #FFBB33;
    --tintOrangeActive: #F27F0C;
    --tintGreen: #40B855;
    --tintGreenHover: #52CC66;
    --tintGreenActive: #32A645;
    --tintCyan: #36BED9;
    --tintCyanHover: #45CBE5;
    --tintCyanActive: #26A1BF;
    --tintBlue: #248BF2;
    --tintBlueHover: #3399FF;
    --tintBlueActive: #1677D9;
    --tintPurple: #7A24F2;
    --tintPurpleHover: #8833FF;
    --tintPurpleActive: #6114CC;
    --tintPink: #E539AC;
    --tintPinkHover: #F249BA;
    --tintPinkActive: #CC1F93;
    --tintGrey: #71747A;
    --tintGreyHover: #81848A;
    --tintGreyActive: #5C5F66;
    --tintInverted: rgba(255, 255, 255, 0.32);

    --featured-icon-display: flex;
    --secret-chat-title-color: var(--foregroundPrimary);
    --secret-chat-icon-display: none;
}

@media (prefers-color-scheme: dark) {
    html:not(.landing) {
        --transparent: rgba(0, 0, 0, 0);

        --foregroundPrimary: #FFFFFF;
        --foregroundSecondary: #898B8F;
        --foregroundTertiary: #5E6166;
        --foregroundQuaternary: #484B52;
        --foregroundContrast: #FFFFFF;
        --foregroundInverted: #111214;

        --backgroundPrimary: #111214;
        --backgroundPrimaryHover: #242629;
        --backgroundPrimaryActive: #242629;

        --backgroundSecondary: #242629;
        --backgroundSecondaryHover: rgba(76, 80, 87, 0.24);
        --backgroundSecondaryActive: rgba(76, 80, 87, 0.24);

        --backgroundTertiary: #242629;
        --backgroundTertiaryHover: rgba(76, 80, 87, 0.24);
        --backgroundTertiaryActive: rgba(76, 80, 87, 0.24);

        --backgroundTertiaryTrans: rgba(96, 101, 107, 0.24);
        --backgroundTertiaryHoverTrans: rgba(76, 80, 87, 0.24);
        --backgroundTertiaryActiveTrans: rgba(53, 53, 56, 0.24);

        --accentPay: #898B8F;
        --accentPayHover: #898B8F;
        --accentPayActive: #898B8F;

        --border: rgba(255, 255, 255, 0.08);
        --borderLight: rgba(255, 255, 255, 0.04);

        --backgroundBlurPrimary: rgba(35, 39, 41, 0.72);
        --backgroundBlurSecondary: rgba(35, 39, 41, 0.92);

        --boxShadowPopper: 0px 8px 24px rgba(0, 0, 0, 0.4), 0px 0px 48px rgba(0, 0, 0, 0.3);
    }
}

html.light {
    --transparent: rgba(255, 255, 255, 0);

    --foregroundPrimary: #171A1F;
    --foregroundSecondary: #71747A;
    --foregroundTertiary: #9D9FA3;
    --foregroundQuaternary: #C8C9CC;
    --foregroundContrast: #FFFFFF;
    --foregroundInverted: #FFFFFF;

    --backgroundPrimary: #FFFFFF;
    --backgroundPrimaryHover: #F2F3F5;
    --backgroundPrimaryActive: #F2F3F5;

    --backgroundSecondary: #FFFFFF;
    --backgroundSecondaryHover: #F2F3F5;
    --backgroundSecondaryActive: #F2F3F5;

    --backgroundTertiary: #F2F3F5;
    --backgroundTertiaryHover: #EDEEF0;
    --backgroundTertiaryActive: #E6E7EB;

    --backgroundTertiaryTrans: rgba(201, 204, 209, 0.24);
    --backgroundTertiaryHoverTrans: rgba(169, 174, 184, 0.24);
    --backgroundTertiaryActiveTrans: rgba(148, 155, 168, 0.24);

    --accentPay: #171A1F;
    --accentPayHover: #212329;
    --accentPayActive: #33373D;

    --border: rgba(0, 0, 0, 0.08);
    --borderLight: rgba(0, 0, 0, 0.04);

    --backgroundBlurPrimary: rgba(255, 255, 255, 0.72);
    --backgroundBlurSecondary: rgba(255, 255, 255, 0.92);

    --boxShadowPopper: 0px 8px 24px rgba(0, 0, 0, 0.08), 0px 0px 48px rgba(0, 0, 0, 0.04);
}

html.dark {
    --transparent: rgba(0, 0, 0, 0);

    --foregroundPrimary: #FFFFFF;
    --foregroundSecondary: #898B8F;
    --foregroundTertiary: #5E6166;
    --foregroundQuaternary: #484B52;
    --foregroundContrast: #FFFFFF;
    --foregroundInverted: #111214;

    --backgroundPrimary: #111214;
    --backgroundPrimaryHover: #242629;
    --backgroundPrimaryActive: #242629;

    --backgroundSecondary: #242629;
    --backgroundSecondaryHover: rgba(76, 80, 87, 0.24);
    --backgroundSecondaryActive: rgba(76, 80, 87, 0.24);

    --backgroundTertiary: #242629;
    --backgroundTertiaryHover: rgba(76, 80, 87, 0.24);
    --backgroundTertiaryActive: rgba(76, 80, 87, 0.24);

    --backgroundTertiaryTrans: rgba(96, 101, 107, 0.24);
    --backgroundTertiaryHoverTrans: rgba(76, 80, 87, 0.24);
    --backgroundTertiaryActiveTrans: rgba(53, 53, 56, 0.24);

    --accentPay: #898B8F;
    --accentPayHover: #898B8F;
    --accentPayActive: #898B8F;

    --border: rgba(255, 255, 255, 0.08);
    --borderLight: rgba(255, 255, 255, 0.04);

    --backgroundBlurPrimary: rgba(35, 39, 41, 0.72);
    --backgroundBlurSecondary: rgba(35, 39, 41, 0.92);

    --boxShadowPopper: 0px 8px 24px rgba(0, 0, 0, 0.4), 0px 0px 48px rgba(0, 0, 0, 0.3);
}

html.red:not(.landing) {
    --accentPrimary: #F23051;
    --accentPrimaryHover: #FF4060;
    --accentPrimaryActive: #D92140;

    --accentMuted: #F23051;
    --accentMutedHover: #F23051;
    --accentMutedActive: #F23051;
}

html.orange:not(.landing) {
    --accentPrimary: #FF9F1A;
    --accentPrimaryHover: #FFBB33;
    --accentPrimaryActive: #F27F0C;

    --accentMuted: #FF9F1A;
    --accentMutedHover: #FF9F1A;
    --accentMutedActive: #FF9F1A;
}

html.green:not(.landing) {
    --accentPrimary: #40B855;
    --accentPrimaryHover: #52CC66;
    --accentPrimaryActive: #32A645;

    --accentMuted: #40B855;
    --accentMutedHover: #40B855;
    --accentMutedActive: #40B855;
}

html.cyan:not(.landing) {
    --accentPrimary: #36BED9;
    --accentPrimaryHover: #45CBE5;
    --accentPrimaryActive: #26A1BF;

    --accentMuted: #36BED9;
    --accentMutedHover: #36BED9;
    --accentMutedActive: #36BED9;
}

html.purple:not(.landing) {
    --accentPrimary: #7A24F2;
    --accentPrimaryHover: #8833FF;
    --accentPrimaryActive: #6114CC;

    --accentMuted: #7A24F2;
    --accentMutedHover: #7A24F2;
    --accentMutedActive: #7A24F2;
}

html.pink:not(.landing) {
    --accentPrimary: #E539AC;
    --accentPrimaryHover: #F249BA;
    --accentPrimaryActive: #CC1F93;

    --accentMuted: #E539AC;
    --accentMutedHover: #E539AC;
    --accentMutedActive: #E539AC;
}

html.grey:not(.landing) {
    --accentPrimary: #71747A;
    --accentPrimaryHover: #81848A;
    --accentPrimaryActive: #5C5F66;

    --accentMuted: #71747A;
    --accentMutedHover: #71747A;
    --accentMutedActive: #71747A;
}

html.hide-featured-icon:not(.landing) {
    --featured-icon-display: none;
}

html.highlight-secret-chat:not(.landing) {
    --secret-chat-title-color: var(--accentPositive);
    --secret-chat-icon-display: flex;
}