body {}

a {
    color: rgb(23, 144, 255);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main_scripts {
    display: none;
}

span {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.24px;
}

*{ min-height: 0;min-width: 0; }