@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-Light.eot');
	src: url('fonts/AktivGroteskCorp-Light.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-Light.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-Light.svg') format('svg');

	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-LightItalic.eot');
	src: url('fonts/AktivGroteskCorp-LightItalic.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-LightItalic.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-LightItalic.svg') format('svg');

	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-Regular.eot');
	src: url('fonts/AktivGroteskCorp-Regular.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-Regular.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-Regular.svg') format('svg');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-Italic.eot');
	src: url('fonts/AktivGroteskCorp-Italic.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-Italic.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-Italic.svg') format('svg');

	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-Medium.eot');
	src: url('fonts/AktivGroteskCorp-Medium.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-Medium.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-Medium.svg') format('svg');

	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-MediumItalic.eot');
	src: url('fonts/AktivGroteskCorp-MediumItalic.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-MediumItalic.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-MediumItalic.svg') format('svg');

	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-Bold.eot');
	src: url('fonts/AktivGroteskCorp-Bold.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-Bold.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-Bold.svg') format('svg');

	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('fonts/AktivGroteskCorp-BoldItalic.eot');
	src: url('fonts/AktivGroteskCorp-BoldItalic.woff') format('woff'),
		 url('fonts/AktivGroteskCorp-BoldItalic.ttf') format('truetype'),
		 url('fonts/AktivGroteskCorp-BoldItalic.svg') format('svg');

	font-weight: 700;
	font-style: italic;
}