
.x-list {
    position: relative;
    top:auto;
    bottom: auto;
    left: auto;
    right: auto;
}

.x-list-item {
	margin: 0 0 16px;
    &:last-child { margin: 0; }
    
    @media @media-xs-only { margin: 0 0 16px; }
}

.x-card-s {
    display: flex;
    flex-direction: row;
    background: @white;
	border: 1px solid fade(@text-sf, 8);
	color: @text-sf;
	overflow: hidden;
	border-radius: 4px;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.vertical {
    display: flex;
    flex-direction: column;
}

.x-card-s-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 8px;

    .x-row {
        height: 81px;
        border-bottom: 1px solid rgba(38,38,38,0.08);
        &:last-child { 
            border-bottom: 0;
        }
    }
}

.x-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.x-card-s-photo {
    width: 168px;
    max-height: 164px;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .no-photo {
        background: #e8e7ec url(../img/no-photo.png) center no-repeat;
        background-size: 150%;
    }
    
    a {
        .size(140px, 140px);

        @media @media-xs-only {
            &.no-photo {
                .size (100%, 100%);
            }
        }
    }

    @media(max-width: 767px) {
        width: 82px;
        max-height: 82px;
    }
}

.x-link-ellipsis {
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.x-card-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.x-card-column-fill {
    flex-grow: 1;
    flex-basis: 0;
}

.x-card-column-fixed {
    width: 160px;
    padding-right: 40px;
    &:last-child { 
        padding-right: 0px;
    }
}

.x-card-s-title-photo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .photo {
        width: 85px;
	    height: 58px;
		overflow: hidden;
		margin-right: 15px;
        display: block;
        object-fit: contain;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
    }
}

.x-card-s-title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    // a {
    //     color: inherit;

    //     &:hover {
    //         color: @purple-1;
    //     }

    //     span {
    //         display: block;
    //     }
    // }

    .title {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
    }
    .subtitle {
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
        color: rgba(38,38,38,0.6);
        text-transform: uppercase;
        margin-top: 4px;
        letter-spacing: .6px;
    }
}

.x-card-s-link {
    text-decoration: none;
    padding-right: 17px;
    color: @purple-1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .size(72px, 100%);

    @media @media-md {
        padding-right: 0;
    }

    @media @media-xs-sm {
        padding-right: 0;
    }

    &:hover {
        opacity: 0.7;
    }

    i {
        display: block;
        font-size: 20px;
    }
}

.x-card-s-button {
    height: 100%;
	margin-left: auto;
    text-align: center;
    display: flex;
    width: 100%;	// flex: 0 0 160px;
	align-items: center;
	justify-content: center;
	border-left: 1px solid fade(@text-sf, 8);

	// @media @media-lg-only {
	// 	flex: 0 0 140px;
	// }

	// @media @media-xs-md {
	// 	flex: 0 0 140px;
	// }

	@media (max-width: 550px) {
		width: 100%;
		border-top: 1px solid fade(@text-sf, 8);
		border-left: none;
		padding: 30px 0;
		flex: none;
	}

	&:hover {
		background: fade(@text-sf, 1);
	}

	span {
		display: block;
		color: @purple-1!important;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		.font (11px, 20px, 500);
	}
}

.ReactModalPortal {
    z-index: 1;
}