.like-active {
    background-color: #6772e5;
    color: #fff;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    letter-spacing: .025em;
    transition: all .15s ease;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
}

.like-active:hover {
    background-color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.like-active:active {
    background-color: #555abf;
    transform: translateY(1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.like {
    background-color: #fff;
    color: #6772e5;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    letter-spacing: .025em;
    transition: all .15s ease;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
}

.like:hover {
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.like:active {
    color: #555abf;
    transform: translateY(1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}


.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.counter-title {
    color: #000000;
    font-size: 18px;
}

.counter-value {
    color: #000000;
    font-size: 32px;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 12px;
}

.card-1 {
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 12px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-2 {
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 12px;
    width: 200px;
}

.card-4 {
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 12px;
    width: 400px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.card-container {
    max-width: 1000px;
    align-self: center;
}