.root {
    min-height: 100vh;
    width: 100vw;
}

.logo {
    display: flex;
    flex-direction: column;
    height: 64px;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.housing-bg {
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url('/housing_bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.housing-bg > .title {
    color: #fff;
    font-size: 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.housing-bg > .title > .subtitle {
    font-size: 16px;
}

.housing-bg > .navigation {
    width: 1000px;
    padding-bottom: 48px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.city-menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    width: 220px;
}

.city-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    height: 64px;
    width: 100%;
}

.sidebar-bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0.5;
    font-size: 18px; 
}

.spring {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}