@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cdoqed');
  src:  url('fonts/icomoon.eot?cdoqed#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cdoqed') format('truetype'),
    url('fonts/icomoon.woff?cdoqed') format('woff'),
    url('fonts/icomoon.svg?cdoqed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link-right:before {
  content: "\e929";
}
.icon-inst:before {
  content: "\e928";
}
.icon-appealed:before {
  content: "\e920";
}
.icon-canceled:before {
  content: "\e921";
}
.icon-completed:before {
  content: "\e922";
}
.icon-expired:before {
  content: "\e923";
}
.icon-filed:before {
  content: "\e924";
}
.icon-issued:before {
  content: "\e925";
}
.icon-suspended:before {
  content: "\e926";
}
.icon-withdrawn:before {
  content: "\e927";
}
.icon-lin:before {
  content: "\e91e";
}
.icon-fb-o:before {
  content: "\e91f";
}
.icon-check-o:before {
  content: "\e91d";
}
.icon-burger:before {
  content: "\e91c";
}
.icon-check:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-fb:before {
  content: "\e918";
}
.icon-share:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-tw:before {
  content: "\e91b";
}
.icon-pencil:before {
  content: "\e914";
}
.icon-user-drop:before {
  content: "\e900";
}
.icon-projects:before {
  content: "\e901";
}
.icon-powered-by:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-last-arrow:before {
  content: "\e906";
}
.icon-first-arrow:before {
  content: "\e907";
}
.icon-links:before {
  content: "\e908";
}
.icon-documents:before {
  content: "\e909";
}
.icon-datasets:before {
  content: "\e90a";
}
.icon-data-needs:before {
  content: "\e90b";
}
.icon-links-c:before {
  content: "\e90c";
}
.icon-documents-c:before {
  content: "\e90d";
}
.icon-datasets-c:before {
  content: "\e90e";
}
.icon-data-needs-c:before {
  content: "\e90f";
}
.icon-findings:before {
  content: "\e910";
}
.icon-data-sources:before {
  content: "\e911";
}
.icon-csv:before {
  content: "\e912";
}
.icon-email:before {
  content: "\e913";
}
